*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --pale-blue: hsl(243, 100%, 93%);
    --rayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}

body{
    height: 100vh;
    width:100%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: var(--pale-blue);
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.container{
    width: 100%;
}
.container-svg{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    border-top-right-radius: 5rem;
}
.container-svg img:first-child{
    min-width: fit-content;
   
}
.container-svg{
    background-color: var(--dark-blue);
}

.icones{
    margin-top: 40px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100%;
}
.attribution a { color: rgb(62, 82, 163); }

/*Mobile*/
@media screen and (max-width:768px){
    body{
        background-image: url('./images/bg-mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
